@model EditProjectForm

<div id="editProjectModal" class="mod">
    <div class="mod-content">
        <div class="mod-header">
            <h3>Add Project</h3>
            <button type="button" class="btn-closee" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="Add" asp-controller="Project">

            <div class="image-previewer circle ">
                <img src="" class="image-preview" />
                <input asp-for="ProjectImage" accept="image/*" class="hide" />
            </div>


            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="ClientName"></label>
                <div class="field-group">
                    <input asp-for="ClientName" />
                    <span asp-validation-for="ClientName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <input asp-for="Description" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StartDate"></label>
                <div class="field-group">
                    <input asp-for="StartDate" />
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EndDate"></label>
                <div class="field-group">
                    <input asp-for="EndDate" />
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MemberName"></label>
                <div class="field-group">
                    <input asp-for="MemberName" />
                    <span asp-validation-for="MemberName"></span>
                </div>

            </div>

            <div class="form-group">
                <label asp-for="Budget"></label>
                <div class="field-group">
                    <input asp-for="Budget" />
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-submit btn-blue">Save</button>
        </form>
    </div>
</div>
